In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Loading the mitbih data set
test = pd.read_csv("mitbih_test.csv", header=None)
train = pd.read_csv("mitbih_train.csv", header=None)
test.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,1.000000,0.758264,0.111570,0.000000,0.080579,0.078512,0.066116,0.049587,0.047521,0.035124,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.908425,0.783883,0.531136,0.362637,0.366300,0.344322,0.333333,0.307692,0.296703,0.300366,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.730088,0.212389,0.000000,0.119469,0.101770,0.101770,0.110619,0.123894,0.115044,0.132743,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000000,0.910417,0.681250,0.472917,0.229167,0.068750,0.000000,0.004167,0.014583,0.054167,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.570470,0.399329,0.238255,0.147651,0.000000,0.003356,0.040268,0.080537,0.070470,0.090604,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
train[187].unique()

array([0., 1., 2., 3., 4.])

In [4]:
test[187].unique()

array([0., 1., 2., 3., 4.])

In [5]:
#Finding the outliers
continous_features =   train[187].unique()
def outliers(df_out, drop = False):
    for each_feature in df_out.columns:
        feature_data = df_out[each_feature]
        Q1 = np.percentile(feature_data, 25.) # 25th percentile of the data of the given feature
        Q3 = np.percentile(feature_data, 75.) # 75th percentile of the data of the given feature
        IQR = Q3-Q1 
        outlier_step = IQR * 1.5 
        outliers = feature_data[~((feature_data >= Q1 - outlier_step) & (feature_data <= Q3 + outlier_step))].index.tolist()  
        if not drop:
            print('For the feature {}, No of Outliers is {}'.format(each_feature, len(outliers)))
        if drop:
            train.drop(outliers, inplace = True, errors = 'ignore')
            print('Outliers from {} feature removed'.format(each_feature))
outliers(train[continous_features])

For the feature 0, No of Outliers is 12161
For the feature 1, No of Outliers is 5575
For the feature 2, No of Outliers is 0
For the feature 3, No of Outliers is 1786
For the feature 4, No of Outliers is 6596

In [6]:
#Removing the outliers
outliers(train[continous_features], drop=True)

Outliers from 0 feature removed
Outliers from 1 feature removed
Outliers from 2 feature removed
Outliers from 3 feature removed
Outliers from 4 feature removed

In [7]:
import numpy as np
import pandas as pd
from sklearn.metrics import f1_score, confusion_matrix
from sklearn.utils import resample
import random
import matplotlib.pyplot as plt
import seaborn as sns
train_lbl0 = resample(train[train[187]==0], replace=True, n_samples=15000, random_state=113)
train_lbl1 = resample(train[train[187]==1], replace=True, n_samples=15000, random_state=113)
train_lbl2 = resample(train[train[187]==2], replace=True, n_samples=15000, random_state=113)
train_lbl3 = resample(train[train[187]==3], replace=True, n_samples=15000, random_state=113)
train_lbl4 = resample(train[train[187]==4], replace=True, n_samples=15000, random_state=113)

In [8]:
train= pd.concat([train_lbl0, train_lbl1, train_lbl2, train_lbl3, train_lbl4])

labels = train[187].astype('int64')   # last column has the labels

print("Count in each label: ")
print(labels.value_counts())

Count in each label:
4    15000
3    15000
2    15000
1    15000
0    15000
Name: 187, dtype: int64

In [9]:
train.shape

(75000, 188)

In [10]:
x_train = train.iloc[:, :-1].values
y_train = train.iloc[:, -1].values

In [11]:
x_test = test.iloc[:, :-1].values
y_test = test.iloc[:, -1].values

In [12]:
print(x_train)

[[0.88453609 0.61237115 0.29690722 ... 0.         0.         0.        ]
 [0.8888889  0.52430558 0.21527778 ... 0.         0.         0.        ]
 [0.76234567 0.36419752 0.14814815 ... 0.         0.         0.        ]
 ...
 [0.47955391 0.52788103 0.47583643 ... 0.         0.         0.        ]
 [0.47569445 0.50347221 0.47569445 ... 0.         0.         0.        ]
 [0.6736111  0.4212963  0.22916667 ... 0.         0.         0.        ]]

In [13]:
print(y_train)

[0. 0. 0. ... 4. 4. 4.]

In [14]:
print(x_test)

[[0.75826448 0.11157025 0.         ... 0.         0.         0.        ]
 [0.7838828  0.53113556 0.36263737 ... 0.         0.         0.        ]
 [0.21238938 0.         0.11946902 ... 0.         0.         0.        ]
 ...
 [0.96735907 0.62017804 0.34718102 ... 0.         0.         0.        ]
 [0.5674603  0.60714287 0.58333331 ... 0.         0.         0.        ]
 [0.91323209 0.86550975 0.82321042 ... 0.         0.         0.        ]]

In [15]:
print(y_test)

[0. 0. 0. ... 4. 4. 4.]

In [16]:
test.shape

(21892, 188)

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'poly', degree=3)
classifier.fit(x_train, y_train)

In [ ]:
y_pred = classifier.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred), 1),
                     y_test.reshape(len(y_test),1)), 1))

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

In [ ]:
label_names = ['Non-ecotic beats', 'Supraventricular ectopic beats', 'Ventricular ectopic beats', 'Fusion beats', 'Unknown beats']
labels = test[187]
print("Count in each label: ")
print(labels.value_counts())

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))